<h2>Que donne la somme de 36344.789 et 5422.995432 ?</h2>
<h3>{{36344.789 +  5422.995432}}</h3>

<h2>Que donne la concaténation de "Bonjour" et "le Monde" ?</h2>
<h3>{{"Bonjour" + "le Monde"}}</h3>

<h2>Quel est le reste de la division entière de 4321 par 1234 ?</h2>
<h3>{{ 4321 / 1234 }}</h3>

<h2>Est-il vrai que 0.000005 est strictement supérieur à 0.00005 ?</h2>
<h3>{{0.000005 > 0.00005}}</h3>

<h2>Que donne l'équation ((3x + 2) - (43x * (9y + 6))) / (2y - 7) si x vaut 4 et y vaut 19. Vous devez donc créer 2 propriétés numériques dans le composant.</h2>
<h3>{{result}}</h3>